.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-width: 350px;
    height: 100vh;
    margin: 0 auto;
    background-color: #e1e0a6;
}
.Form label,
.Form input{
    width: 180px;
    padding: 5px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 1px solid #333333;
    border-radius: 6px;
}
.Form input{
    border: 1px solid #333333;
    border-radius:10px;
    background-color: #7b7474;
    margin-bottom: 10px;
}
select{
    width: 180px;
    padding: 5px;
    margin: 20px auto;
}
.Form .btn{
    width: 120px;
    padding: 3px; 
}
.Form .send{
    border: 2px solid blue;
    background-color: white;
    text-align: center;
    margin-top: 20px;
}
.Form p{
    width:180px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
    color: red;
    text-align: center;
}
.Form .watch{
    color: blue;
}